[submodule "fsrs.js"]
	path = fsrs.js
	url = https://github.com/open-spaced-repetition/fsrs.js.git
[submodule "fsrs4anki"]
	path = fsrs4anki
	url = https://github.com/open-spaced-repetition/fsrs4anki
[submodule "go-fsrs"]
	path = go-fsrs
	url = https://github.com/open-spaced-repetition/go-fsrs
[submodule "py-fsrs"]
	path = py-fsrs
	url = https://github.com/open-spaced-repetition/py-fsrs
[submodule "rs-fsrs"]
	path = rs-fsrs
	url = https://github.com/open-spaced-repetition/rs-fsrs
[submodule "cljc-fsrs"]
	path = cljc-fsrs
	url = https://github.com/open-spaced-repetition/cljc-fsrs.git
[submodule "fsrs-optimizer-py"]
	path = fsrs-optimizer-py
	url = https://github.com/open-spaced-repetition/fsrs-optimizer.git
[submodule "fsrs-optimizer-rs"]
	path = fsrs-optimizer-rs
	url = https://github.com/open-spaced-repetition/fsrs-optimizer-burn.git
[submodule "ts-fsrs"]
	path = ts-fsrs
	url = https://github.com/open-spaced-repetition/ts-fsrs.git
