[submodule "fsrs.js"]
	path = fsrs.js
	url = git@github.com:open-spaced-repetition/fsrs.js.git
[submodule "fsrs4anki"]
	path = fsrs4anki
	url = https://github.com/open-spaced-repetition/fsrs4anki
[submodule "go-fsrs"]
	path = go-fsrs
	url = https://github.com/open-spaced-repetition/go-fsrs
[submodule "py-fsrs"]
	path = py-fsrs
	url = https://github.com/open-spaced-repetition/py-fsrs
